.Header {
  text-align: center;
}

.SearchBar {
  text-align: center;
}

.Results {
  text-align: center;
  cursor: pointer;
}

.Results:hover {
  background-color: #eee;
}

.RecipeDetail {
  text-align: center;
}

.DrinkName {
  text-align: center;
}

.CocktailImage {
  text-align: center;
}

p {
  font-size: 16px;
}

body {
	background-image: url('/cocktail2.jpg');
	background-position: center;
	background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.App {
  opacity: 0.8;
  padding: 50px;
}
