.Header {
  text-align: center;
}

.SearchBar {
  text-align: center;
}

.Results {
  text-align: center;
  cursor: pointer;
}

.Results:hover {
  background-color: #eee;
}

.RecipeDetail {
  text-align: center;
}

.DrinkName {
  text-align: center;
}

.CocktailImage {
  text-align: center;
}

p {
  font-size: 16px;
}
